{% extends 'base.html.twig' %}

{%  block title %}Order list{% endblock %}

{% block body %}
    <h2>Order list</h2>
    <div id="orders_list"></div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "{{ path('orders') }}",
                type:'GET',
                success: function(data){
                    $('#orders_list').html(data);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX error: " + error);
                }
            });
        });
        $(document).on('click', 'a.btn.btn-primary', function (event) {
            let offset = $(this).data('offset');
            if (offset !== undefined) {
                $.ajax({
                    url: "{{ path('orders') }}",
                    type: 'GET',
                    data: {offset: offset},
                    success: function (data) {
                        $('#orders_list').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX error: " + error);
                    }
                });
            }
        });
    </script>
{% endblock %}
